<div class="row">
  <div class="col-md-8">
    <h1>All Posts</h1>
    <%= link_to "New Post", new_post_path, class: "btn btn-primary" %>
    <hr />
    <% @posts.each do |post| %>
      <% if logged_in? %>
        <h4><%= post.user.username %></h4>
      <% end %>
      <p><%= post.content %></p>
      <hr />
    <% end %>
  </div>
</div>
