<div class="row">
  <div class="col-md-8">
    <h1>New Post</h1>
    <%= form_for (@post) do |f| %>

      <%= f.label :content %>
      <%= f.text_area :content, class: 'form-control' %>

      <%= f.submit "Post It!", class: 'btn btn-primary' %>

    <% end %>
  </div>
</div>
